.card { border: 1px solid black;
border-radius: 10px;
padding: 20px;
margin-bottom :10px;
background: #fff;
width: 300px;
box-shadow: 0 2px 10px rgba(0,0,0,0.1);}

p {color: gray;}

body {background: lightgoldenrodyellow;}

.card {display: flex;
flex-direction: row;}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

@media (min-width: 768px) {.container { flex-direction: row;
}}